<notifier-container></notifier-container>
<div class="input-group mb-3" [formGroup]="buscarForm">
  <input type="text" class="form-control" formControlName="termino">
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of usuarios | buscar: buscarForm.value.termino">
      <th scope="row">{{ u.id }}</th>
      <td>{{ u.nombre }}</td>
      <td>{{ u.apellido }}</td>
      <td><button type="button" class="btn btn-success" (click)="editar(u.id)">Editar</button>
        <button type="button" class="btn btn-danger" (click)="borrar(u.id)">Borrar</button></td>
    </tr>
  </tbody>
</table>
