<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <a class="list-group-item" routerLink="/componentes/componentes">Componentes</a>
      <a class="list-group-item" routerLink="/directivas/ciclo">Ciclo</a>
      <a class="list-group-item" routerLink="/directivas/switch">Switch</a>
      <a class="list-group-item" routerLink="/directivas/clase">Clase</a>
      <a class="list-group-item" routerLink="/directivas/estilo">Estilo</a>
      <a class="list-group-item" routerLink="modulos/modulos_externos">Modulos Externos</a>
      <a class="list-group-item" routerLink="modulos/bootstrap">Boostrap</a>
      <a class="list-group-item" routerLink="rutas/anidadas">Rutas Anidadas</a>
      <a class="list-group-item" routerLink="usuarios">Usuarios</a>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
