<div class="row">
  <div [ngClass]="{'col-md-3': abierto , '': !abierto }" [hidden]="!authService.activo || !abierto">
    <ul class="list-group">
      <a class="list-group-item" routerLink="/componentes/componentes">Componentes</a>
      <a class="list-group-item" routerLink="/directivas/ciclo">Ciclo</a>
      <a class="list-group-item" routerLink="/directivas/switch">Switch</a>
      <a class="list-group-item" routerLink="/directivas/clase">Clase</a>
      <a class="list-group-item" routerLink="/directivas/estilo">Estilo</a>
      <a class="list-group-item" routerLink="modulos/modulos_externos">Modulos Externos</a>
      <a class="list-group-item" routerLink="modulos/bootstrap">Boostrap</a>
      <a class="list-group-item" routerLink="rutas/anidadas">Rutas Anidadas</a>
      <a class="list-group-item" routerLink="usuarios">Usuarios</a>
      <a class="list-group-item" routerLink="observador">Observador</a>
      <a class="list-group-item" routerLink="productos">Productos</a>
    </ul>
  </div>
  <div class="col-md-9" [ngClass]="{'col-md-9':authService.activo , 'col-md-12': !authService.activo || !abierto }">
    <app-header *ngIf="authService.activo" (onSignOut)="authService.salir()" (onClickMenu)="abierto= !abierto"></app-header>
    <app-spinner></app-spinner>
    <router-outlet></router-outlet>
  </div>
</div>
